#TabsToolbar .titlebar-spacer,
#alltabs-button,
#tabs-newtab-button,
.tab-close-button,
.tab-secondary-label {
  display: none !important;
}

.tabbrowser-tab:not([selected="true"]) {
  min-width: 40px !important;
  max-width: 40px !important;
}

.tabbrowser-tab:not([selected="true"]) .tab-label-container {
  display: none !important;
}

.tabbrowser-tab[selected="true"] {
  min-width: 180px !important;
}

#page-action-buttons,
#tracking-protection-icon-container,
#star-button-box,
#reader-mode-button,
#translations-button,
#identity-permission-box {
  display: none !important;
}
